@{ Layout = "~/Views/Shared/_LayoutCustomer.cshtml"; }

<div id="slider">
    <figure>
        <img src="~/home image/image001.jpg" />
        <img src="~/home image/image002.jpg" />
        <img src="~/home image/image003.jpg" />
        <img src="~/home image/image004.jpg" />
        <img src="~/home image/image005.jpg" />
    </figure>
</div>

