@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="sliderrr">
    <div class="slidesss">

        <input type="radio" name="radio-btn" id="radio1" />
        <input type="radio" name="radio-btn" id="radio2" />
        <input type="radio" name="radio-btn" id="radio3" />
        <input type="radio" name="radio-btn" id="radio4" />
        <input type="radio" name="radio-btn" id="radio5" />




        <div class="slidess first">
            <img src="~/home image/image001.jpg" alt="">

        </div>
        <div class="slidess">
            <img src="~/home image/image002.jpg" alt="">

        </div>
        <div class="slidess">
            <img src="~/home image/image003.jpg" alt="">

        </div>
        <div class="slidess">
            <img src="~/home image/image004.jpg" alt="">

        </div>
        <div class="slidess">
            <img src="~/home image/image005.jpg" alt="">

        </div>
        <div class="navigation-auto">
            <div class="auto-btn1"></div>
            <div class="auto-btn2"></div>
            <div class="auto-btn3"></div>
            <div class="auto-btn4"></div>
            <div class="auto-btn5"></div>

        </div>
        <div class="navigation-manual">
            <label for="radio1" class="manual-btn"></label>
            <label for="radio2" class="manual-btn"></label>
            <label for="radio3" class="manual-btn"></label>
            <label for="radio4" class="manual-btn"></label>
            <label for="radio5" class="manual-btn"></label>


        </div>
    </div>
</div>

<section class="aboutus" id="aboutus">
    <div class="container">
        <div class="heading text-center">
            
            <h2>About Us</h2>
            
            <h3>Have you ever felt worried that your party will not raise up to your guest expectations? In design, vertical rhythm is the structure that guides a reader's eye through the content. Good vertical rhythm makes a layout more balanced and beautiful and its content more readable. The time signature in sheet music visually depicts a song's rhythm, while for us, the lines of the baseline grid depict the rhythm of our content and give us guidelines.</h3>
        </div>
        
    </div>
</section>